<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://kit.fontawesome.com/6d7ddf6bb9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/cuenta.css">
    <title>Seven Gaming</title>
</head>

<body>
    <!-- Header -->
    <%- include('partials/header') %>
        <h1 class="title--format"> Crear cuenta</h1>
        <!-- <form action="" method="post" class="form--format">
            <div class="nombre--format">
<div class="nombre--distribucion">

    <label for="username">Nombre</label><br>
    <input type="text" id="username" name="username"><br>
</div>
<div class="nombre--distribucion">
                <label for="pwd">Apellido</label><br>
                <input type="text" id="pwd" name="pwd"><br>
            </div>
            </div>
            <label for="username">Numero de telefono(opcional)</label><br>
            <input type="text" id="numero" name="nombre"><br>
            <label for="username">Email</label><br>
            <input type="text" id="mail" name="mail"><br>
            <label for="pwd">Contrasena</label><br>
            <input type="password" id="pwd" name="pwd"><br>
            <label for="pwd">Confirmar Contrasena</label><br>
            <input type="confirm--password" id="pwd" name="pwd">
        </form> -->
        <div class="container-gral">
            <div class="form-container-gral">
                <form class="form-container" action="/usuarios/registrarse" method="post">
                    <div class="name-container">
                        <label class="label-name" for="nombre">Nombre</label>
                        <input class="input-name" type="text" name="first_name" id="" placeholder="Nombre">
                        <% if (locals.error && erro.nombre) { %>
                            <div class="invalid-text">
                                <%= errors.nombre.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="name-container">
                        <label class="label-name" for="apellido">Apellido</label>
                        <input class="input-name" type="text" name="last_name" id="" placeholder="Apellido">
                        <% if (locals.error && erro.apellido) { %>
                            <div class="invalid-text">
                                <%= errors.apellido.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="name-container">
                        <label class="label-name" for="email">Email</label>
                        <input class="input-name" type="email" name="email" id="" placeholder="Email">
                        <% if (locals.error && erros.email) { %>
                            <div class="invalid-text">
                                <%= error.email.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="name-container">
                        <label class="label-name" for="contraseña">Contraseña</label>
                        <input class="input-name" type="password" name="password" id="" placeholder="Contraseña">
                        <% if (locals.error && erro.contraseña) { %>
                            <div class="invalid-text">
                                <%= errors.contraseña.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="name-container">
                        <label class="label-name" for="nombre">Categoria</label>
                        <select class="input-name" id="categoria" name="categoryId">
                            <option value="1">Adminitrador</option>
                            <option value="2">Cliente</option>
                        </select>
                    </div>
                    <!-- <div class="name-container"> 
                        <label class="label-name" for="contraseña2">Imagen</label>
                        <input class="input-name" type="file" name="image" id="">
                        <% if (locals.error && erro.contraseña2) { %>
                            <div class="invalid-text">
                                <%= errors.contraseña2.msg %>
                            </div>
                            <% } %>
                    </div> -->
                    <button class="botom--format" type="submit">Crear cuenta</button>
                </form>
                <form class="form-humano" action="" method="post">
                    <input class="checkbox" type="checkbox"><label class="texto-robot" for="">No soy un
                        robot</label><img class="logo-captcha" src="/public/img/captcha.png" alt="captcha">
                    <div class="create--acount">
                        <div class="data">
                            <p>Ya tienes una cuenta?<a href="/usuarios/login"><i>Inicia sesión</i></a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- <div class="reCAPTCHA">
    <form action="" method="post" >
        <div class="nombre--format1">
            <input class="opcion--humano" type="checkbox" id="1" name="1" value="1">
            <label class="robot" for="vehicle1"> No soy un robot</label><br>  
            <img class="img" src="./img/360_F_374832817_o1XM5iP8cKloqbNCMAQZjC2wijiNxcec.jpeg" alt="logo recaptcha">
        </div>  
</div> -->
        </main>
        <!-- Footer -->
        <%- include('partials/footer') %>
</body>

</html>