<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/css/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <script src="https://kit.fontawesome.com/6d7ddf6bb9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/cuenta.css" />
    <link rel="stylesheet" href="/css/producto.css" />
    <link rel="stylesheet" href="/css/listaProductos.css" />
    <title><%= product.name %></title>
</head>

<body>
    <!-- Header -->
    <%- include('partials/header') %>
        <div class="container-prueba">
            <h1><%= product.name %></h1><br>
                <p>Precio: <%= product.price %></p>
                <p>Categoría: <%= product.categoryId %></p>
                <p>Descripción: <%= product.description %></p>
                <div class="cards-container">
                    <a href="/productos/editarProducto/<%= product.id%>"><button class="botom--format" type="button">Editar Producto</button></a>
                    <a href="/productos/productsList"><button class="botom--format" type="button">Listado de Productos</button></a>
                    <a href="/productos/eliminar/<%= product.id%>"><button class="botom--format" type="button">Borrar Producto</button></a>
                </div>
        </div>
    <!-- Footer -->
    <%- include('partials/footer') %>
</body>

</html>