<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6d7ddf6bb9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/cuenta.css">
    <title>Seven Gaming</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <!-- Header -->
    <%- include('partials/header') %>
        <main class="main__distribution">
            <h1 class="title--format">Editar el producto:  <%= product.name %></h1>
            <form action="/productos/edit/<%= product.id %>" method="post" class="form--format">
                <div class="nombre--format">
                    <!-- <div class="nombre--distribucion">
                        <label for="username">Seleccione el producto</label>
                        <select id="productoe" name="producto">
                            <option value="1">FORTNITE</option>
                            <option value="2">Hogwarts Legacy</option>
                            <option value="3">Horizon Forbidden West</option>
                        </select>
                    </div> -->
                    <div>
                        <label for="precio">Nombre</label>
                        <input type="text" id="prc" name="name" value=" <%= product.name %>">
                    </div>
                    <div>
                        <label for="precio">Precio</label>
                        <input type="price" id="prc" name="price" value=<%= product.price %>>
                    </div>
                    <div>
                        <label for="username">Categorias</label>
                        <select id="categoria" name="category">
                            <% if (product.categoryId === 1){%>
                                <option value="1" selected>Juegos</option>
                                <option value="2">Libros</option>
                                <option value="3">Accesorios</option>
                            <%} else if (product.categoryId === 2){%>
                                <option value="1">Juegos</option>
                                <option value="2" selected>Libros</option>
                                <option value="3">Accesorios</option>
                            <%} else {%>
                                <option value="1">Juegos</option>
                                <option value="2">Libros</option>
                                <option value="3" selected>Accesorios</option>
                            <%}%>
                        </select>
                    </div>
                    <div class="nombre--distribucion">
                        <label for="pwd">Descripcion</label>
                        <textarea rows="5" cols="60" name="description"><%= product.description %></textarea>
                        <!-- <label>Modificar imagen</label><br>//Logica planteada para agregar imagenes pero no funciona por un mal funcionamiento del enctype.
                        <input type="file" name='imagen1' /><br>
                        <input type="submit" name="subir-imagen" value="enviar imagen" /> -->
                    </div>
                    <div class="create--acount">
                        <button class="botom--format" type="submit">Actualizar</button>
                    </div>
                </div>
            </form>
        </main>
        <!-- Footer -->
        <%- include('partials/footer') %>
</body>

</html>