<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
  <script src="https://kit.fontawesome.com/6d7ddf6bb9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/producto.css" />
  <link rel="stylesheet" href="/css/home.css" />
  <link rel="stylesheet" href="/css/cuenta.css" />
  <link rel="stylesheet" href="/css/productList.css" />
  <title>Product List</title>
</head>

<body>
  <!-- Header -->
  <%- include('partials/header') %>
    <!---PRIMERA SECCIÓN-->

    <article class="juegos">
      <div class="titleContainer"><span class="tituloJuegos">Juegos</span></div>
      <section class="gamesContainer">
        <!-- <% if (products.categoryId == 1) { %><% } %>
        <% for( let i=0; i < products.length; i++ ) { %>
          <div class="juego1">
            <a href="/productos/detalle/<%= products[i].id %>"><img class="img-game" src="<%= products[i].image%>" alt="juego" /></a>
            <h3 class="title1"><%= products[i].name %></h3>
          </div> //Planteada la logica para poder ver todos los productos de la base de datos.
          <% } %> --> 
        <div class="juego1">
          <a href="/productos/detalle"><img class="img-game" src="/images/fortnite.jpeg" alt="juego" /></a>
          <h3 class="title1">FORTNITE</h3>
        </div>
        <div class="juego1">
          <a href="/productos/detalle"><img class="img-game" src="/images/hogwarts.jpg" alt="juego" /></a>
          <h3 class="title1">Hogwarts Legacy</h3>
        </div>
        <div class="juego1">
          <a href="/productos/detalle"><img class="img-game" src="/images/horizon.jpg" alt="juego" /></a>
          <h3 class="title1">Horizon Forbidden West</h3>
        </div>
        <div class="juego1">
          <a href="/productos/detalle"><img class="img-game" src="/images/world-war.webp" alt="juego" /></a>
          <h3 class="title1">Heroes & Generals</h3>
        </div>
      </section>
    </article>

    <!--SEGUNDA SECCIÓN-->
    <article class="libros">
      <h3 class="tituloLibros">Libros y Arte</h3>
      <section class="gamesContainer">
        <div class="libro1">
          <a href="/productos/detalle"><img class="img-game" src="/images/halo.jpg" alt="libro" /></a>
          <h3 class="title2">Halo: The Fall of Reach </h3>
        </div>
        <div class="libro1">
          <a href="/productos/detalle"><img class="img-game" src="/images/harry-potter.jpg" alt="libro" /></a>
          <h3 class="title2">Harry Potter y la piedra filosofal</h3>
        </div>
        <div class="libro1">
          <a href="/productos/detalle"><img class="img-game" src="/images/player-one.png" alt="libro" /></a>
          <h3 class="title2">Ready Player One</h3>
        </div>
        <div class="libro1">
          <a href="/productos/detalle"><img class="img-game" src="/images/star-wars.webp" alt="libro" /></a>
          <h3 class="title2">El libro de Star Wars</h3>
        </div>
      </section>
    </article>

    <!--TERCERA SECCIÓN-->
    <article class="pins">
      <h3 class="tituloPins">Pins</h3>
      <section class="gamesContainer">
        <div class="pin1">
          <a href="/productos/detalle"><img class="img-game" src="/images/pin-destiny.jpg" alt="pin" /></a>
          <h3 class="title3">DESTINY</h3>
        </div>
        <div class="pin1">
          <a href="/productos/detalle"><img class="img-game" src="/images/pin-halo.jpg" alt="pin" /></a>
          <h3 class="title3">HALO</h3>
        </div>
        <div class="pin1">
          <a href="/productos/detalle"><img class="img-game" src="/images/pin-harry.jpg" alt="pin" /></a>
          <h3 class="title3">HARRY POTTER</h3>
        </div>
        <div class="pin1">
          <a href="/productos/detalle"><img class="img-game" src="/images/pin-star-wars.jpg" alt="pin" /></a>
          <h3 class="title3">STAR WARS</h3>
        </div>
      </section>
    </article>

    <!--CUARTA SECCIÓN-->
    <article class="accesorios">
      <h3 class="tituloAccesorios">Accesorios</h3>
      <section class="gamesContainer">
        <div class="accesorios1">
          <a href="/productos/detalle"><img class="img-game" src="/images/auriculares.jpg" alt="accesorio" /></a>
          <h3 class="title4">AURICULARES</h3>
        </div>
        <div class="accesorios1">
          <a href="/productos/detalle"><img class="img-game" src="/images/gorra-fortnite.png" alt="accesorio" /></a>
          <h3 class="title4">GORRA FORTNITE</h3>
        </div>
        <div class="accesorios1">
          <a href="/productos/detalle"><img class="img-game" src="/images/joystick.jpg" alt="accesorio" /></a>
          <h3 class="title4">JOYSTICK</h3>
        </div>
        <div class="accesorios1">
          <a href="/productos/detalle"><img class="img-game" src="/images/mochilaRazer.jpeg" alt="accesorio" /></a>
          <h3 class="title4">MOCHILA GAMING</h3>
        </div>
      </section>
    </article>
  <!-- Footer -->
  <%- include('partials/footer') %>
</body>

</html>