<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6d7ddf6bb9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/cuenta.css">
    <title>Editar <%= user.first_name %></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <!-- Header -->
    <%- include('partials/header') %>
        <main class="main__distribution">
            <h1 class="title--format">Editar Usuario: <%= user.first_name %></h1>
            <form action="/usuarios/editar/<%= user.id %>" method="post" class="form--format">
                <div>
                    <label for="username">Modificar Nombre</label>
                    <input type="text" id="username" name="first_name" value="<%= user.first_name %>">
                    <% if (locals.errors && errors.first_name) { %>
                        <div class="invalid-text">
                            <%= errors.first_name.msg %>
                        </div>
                    <% } %>
                </div>
                <div>
                    <label for="precio">Modificar Apellido</label>
                    <input type="text" id="prc" name="last_name" value="<%= user.last_name %>">
                    <% if (locals.errors && errors.last_name) { %>
                        <div class="invalid-text">
                            <%= errors.last_name.msg %>
                        </div>
                    <% } %>
                </div>
                <div>
                    <label for="precio">Modificar Email</label>
                    <input type="text" id="prc" name="email" value="<%= user.email %>">
                    <% if (locals.errors && errors.email) { %>
                        <div class="invalid-text">
                            <%= errors.email.msg %>
                        </div>
                    <% } %>
                </div>
                <!-- <div>
                    <label for="precio">Modificar Contraseña</label>
                    <input type="price" id="prc" name="password">
                </div> -->
                <div>
                    <label for="username">Categorias</label>
                    <select id="categoria" name="category">
                        <% if (user.categoryId == 1) { %>
                            <option value="1" selected>Administrador</option>
                            <option value="2">Cliente</option>
                        <% } else { %>
                            <option value="1">Administrador</option>
                            <option value="2" selected>Cliente</option>
                        <% } %>
                    </select>
                </div>
                <!-- <div class="nombre--format">//Logica planteada para agregar imagenes pero no funciona por un mal funcionamiento del enctype.
                    <div class="nombre--distribucion">
                        <label>Modificar foto de perfil</label><br>
                        <input type="file" name='imagen1' /><br>
                        <input type="submit" name="subir-imagen" value="enviar imagen" />
                    </div>
                </div> -->
                <div class="create--acount">
                    <div class="data">
                        <button class="botom--format" type="submit">Actualizar</button>
                    </div>
                </div>
            </form>
        </main>
        <!-- Footer -->
        <%- include('partials/footer') %>
</body>

</html>